body {
    background-color: white;
    font-family: Helvetica Neue, Helvetica, arial, sans-serif;
}

img {
    height: 300px;
    width: 300px;
    border: 1px solid #FF5B22;
    padding: 5px;
    margin: 3px;
}


h1 {
    text-align: center;
    box-sizing: border-box;
    border: 1px;
    background-color: bisque;


}

button {
    background-color: bisque;
    padding: 5px 20px;

}

button:hover {
    background-color: rgb(223, 129, 15);
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
}

.container2 {
    display: flex;
    flex-direction: row;

}


.item-left {
    flex: 33%;

}

.item-center {
    flex: 34%;
}

.item-right {
    flex: 33%;
}

.item-1 {
    flex: 33%;

}

.item-2 {
    flex: 34%;

}

.item-3 {
    flex: 33%;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .container {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
    }
}

.container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .container2 {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
    }
}