body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  background-color: #cea98f;
}

header {
  background-color: #e4dede;
  padding: 20px;
  height: 30px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease; /* Add a smooth color transition */
}

a:hover {
  color: #88c4ff; /* Change the color on hover */
}

img {
  width: 20px;
  height: 20px;
 
}

.main-section {
  max-width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #c58d65;
  overflow: hidden;
}

.section-content {
  display: flex;
  justify-content: space-between;
  background-color: #cea98f;
}


.image-container img {
  width: 1000px;
  height: 600px;
}
.text-content {
  flex-grow: 1;
  margin-left: 20px;
  padding: 90px;
}

h2 {
  color: #333;
  font-size: 35px;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
}

.product-section {
  background-color: #e4dede;
  margin-left: 30px;
  margin-right: 30px;
}
.sections-contents {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 200px;
  padding-top: 10px;
}
.product-images img {
  width: 700px;
  height: 500px;
  
}
.product-image img {
  width: 500px;
  height: 500px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
}
.box-content{
  padding: 0px 0px 10px 0px;
  margin-left: 30px;
  margin-right: 30px;
}


.Box-one {
  background-color: #ffd700; /* Example background color for Box 1 */
}

.Box-two {
  background-color: #87ceeb; /* Example background color for Box 2 */
}

.Box-three {
  background-color: #90ee90; /* Example background color for Box 3 */
}

h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
}
