body {
    display: flex;
    background-color: rgb(235, 235, 235);
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pdiv {
    height: 800px;
    background-color: rgb(145, 94, 31);
    width: 1200px;
    margin: auto;
    opacity: 0.9;

    
}

.logo {
    width: 200px;
    height: 100px;
}
.cdiv {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./Images/Background\ Image\ \(2\).png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 5px bisque;
    border-radius: 10px;
}

li {
    list-style: none;

}

li button { font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    color: white;
    background-color:rgb(145, 94, 31);
    padding: 5px 20px;
    border: none;
    border-radius: 30px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

   
.container{

    width: 800px;
    height: 1000px;
    display: flex;
    align-self: center;
}

.text {
    position: relative;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    

    
}

.imgdiv{
    position: relative;
    float: right;
    width: 50%;
    height: 500px;
    padding-top: 30px;
    
}
.imgdiv img {
    height: 400px;
    width: 400px;
}

h1 p button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    color: white;
    background-color:rgb(145, 94, 31);
    padding: 5px 20px;
    border: none;
    border-radius: 30px;
}

button:hover {
    color: black;
    background-color: white;
    
}

